/* Breakpoints
...................................................................................... */
/* Helpers
...................................................................................... */
/* Classes
...................................................................................... */
.height-fix {
  vertical-align: middle;
  height: 100%;
  width: 0;
  display: inline-block;
  overflow: hidden; }

.highlight {
  color: #2c90b6; }

.inline-middle {
  display: inline-block;
  vertical-align: middle; }

html {
  width: 100%;
  height: 100%; }
  html body {
    width: 100%;
    height: 100%; }
    html body .canvas-outer {
      width: 85%;
      height: 100%;
      overflow: scroll;
      position: relative;
      background: #fefefe;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      html body .canvas-outer .canvas-inner {
        height: 100%;
        text-align: center;
        position: relative;
        cursor: move;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab; }
        html body .canvas-outer .canvas-inner:active, html body .canvas-outer .canvas-inner.active {
          cursor: grabbing;
          cursor: -moz-grabbing;
          cursor: -webkit-grabbing; }
        html body .canvas-outer .canvas-inner .prerequisite-line {
          border: 3px solid #fefefe;
          -webkit-transition: all 0.25s ease;
          -moz-transition: all 0.25s ease;
          -ms-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          transition: all 0.25s ease; }
          html body .canvas-outer .canvas-inner .prerequisite-line.visible {
            border: 3px solid #a7dbd8; }
        html body .canvas-outer .canvas-inner .subject-row {
          position: relative;
          width: 100%;
          text-align: center; }
          html body .canvas-outer .canvas-inner .subject-row .subject-outer {
            display: inline-block;
            vertical-align: middle;
            width: 120px;
            height: 150px;
            margin: 50px 50px;
            cursor: pointer;
            position: relative;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
            html body .canvas-outer .canvas-inner .subject-row .subject-outer.selected .subject-inner .bubble {
              background: #a7dbd8; }
            html body .canvas-outer .canvas-inner .subject-row .subject-outer.preview .subject-inner .bubble {
              border: 4px solid #a7dbd8; }
            html body .canvas-outer .canvas-inner .subject-row .subject-outer .subject-inner {
              position: relative;
              z-index: 1; }
              html body .canvas-outer .canvas-inner .subject-row .subject-outer .subject-inner .bubble {
                width: 72px;
                height: 72px;
                background: #0b486b;
                display: inline-block;
                border: 4px solid #0b486b;
                -moz-border-radius: 72px 72px 72px 72px;
                -webkit-border-radius: 72px 72px 72px 72px;
                -khtml-border-radius: 72px 72px 72px 72px;
                border-radius: 72px 72px 72px 72px; }
            html body .canvas-outer .canvas-inner .subject-row .subject-outer .tooltip {
              position: absolute;
              width: 250px;
              padding: 10px;
              text-align: left;
              background-color: #dfdfdf;
              top: 0;
              right: -270px;
              z-index: 2;
              -moz-border-radius: 5px 5px 5px 5px;
              -webkit-border-radius: 5px 5px 5px 5px;
              -khtml-border-radius: 5px 5px 5px 5px;
              border-radius: 5px 5px 5px 5px; }
              html body .canvas-outer .canvas-inner .subject-row .subject-outer .tooltip .description {
                margin-top: 10px; }
    html body .menu {
      position: absolute;
      width: 15%;
      height: 100%;
      right: 0;
      top: 0;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      background: #0b486b; }
