@import 'mixins';

$backgroundColor:#fefefe;
$bubbleWidth: 120px;
$bubbleHeight: 150px;
$bubbleHorizontalMargin: 100px;
$bubbleVerticalMargin: 100px;
$innerBubbleDiameter: $bubbleWidth * 0.6;
$bubbleColour: #0B486B;
$selectedBubbleColour: #F38630;
$prereqLineColour: #A7DBD8;
$menuBackgroundColour: #E0E4CC;

$popupWidth:250px;
$popupHeight:300px;

html {
  width: 100%;
  height: 100%;
  
  body {
    width: 100%;
    height: 100%;

    .canvas-outer {
      width: 85%;
      height: 100%;
      overflow: scroll;
      position: relative;
      background: $backgroundColor;
      @include unselectable();

      .canvas-inner {
        height: 100%;
        text-align: center;
        position:relative;
        @include grabbable();

        .prerequisite-line {
          border: 3px solid $backgroundColor;
          @include fullTransition(0.25s);

          &.visible {
            border: 3px solid $prereqLineColour;
          }
        } // .prerequisite-line

        .subject-row {
          position: relative;
          width: 100%;
          text-align: center;

          .subject-outer {
            display: inline-block;
            vertical-align: middle;
            width: $bubbleWidth;
            height: $bubbleHeight;
            margin: $bubbleVerticalMargin/2 $bubbleHorizontalMargin/2;
            cursor: pointer;
            position: relative;
            @include unselectable();

            &.selected .subject-inner {
              .bubble {
                background: $prereqLineColour;
              }
            } // .selected

            &.preview .subject-inner {
              .bubble {
                border: 4px solid $prereqLineColour;
              }
            } // .preview

            .subject-inner {
              position:relative;
              z-index:1;

              .title {

              }

              .bubble {
                width: $innerBubbleDiameter;
                height: $innerBubbleDiameter;
                background: $bubbleColour;
                display: inline-block;
                border: 4px solid $bubbleColour;
                @include roundCornerAll($innerBubbleDiameter);
                // @include fullTransition(0.25s);
              }

              .description {

              }
            } // .subject-inner

            .tooltip {
              position: absolute;
              width: $popupWidth;
              padding: 10px;
              text-align: left;
              background-color: #dfdfdf;
              top: 0;
              right: -$popupWidth - 20px;
              z-index: 2;
              @include roundCornerAll(5px);

              .description {
                margin-top: 10px;
              }
            } // .tooltip
          } // .subject-row
        } // .subject-outer
      } // .canvas-inner
    } // .canvas-outer

    .menu {
      position: absolute;
      width: 15%;
      height: 100%;
      right: 0;
      top: 0;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      background: $bubbleColour;
    }
  } // body
} // html