<!--
  This file is a skeleton outline for best practise main HTML file.
  It also allows for very quick prototyping of small ideas.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link href="bower_components/normalize.css/normalize.css" media="all" rel="stylesheet" type="text/css" />
    <link href="css/main.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="js/data.js"></script>
    <script type="text/javascript" src="js/draggable.js"></script>
    <script type="text/javascript" src="js/subjects.js"></script>
    <script type="text/javascript" src="js/drawline.js"></script>
    <script type="text/javascript" src="js/canvas.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body>
    <div id="canvas-outer" class="canvas-outer">
      <div id="canvas-inner" class="canvas-inner clickable">
      </div>
    </div>
    <div id="menu" class="menu">
      <div class="menu-credit-points">
          <abbr id="credit-points-counter" class="credit-points-counter">0</abbr> Credit Points
      </div>
    </div>
  </body>
</html>

<!-- Underscore templates for backbone defined below -->
<script type="text/template" id="subject-template">
  <div class="subject-inner">
    <div class="code"><%= code %></div>
    <div class="bubble"></div>
    <div class="title"><%= title %></div>
  </div>
</script>

<!-- Underscore templates for backbone defined below -->
<script type="text/template" id="tooltip-template">
  <div class="tooltip">
    <div class="code"><%= code %></div>
    <div class="title"><%= title %></div>
    <div class="description"><%= description %></div>
  </div>
</script>
